.footer-default {
    background: red !important;
    border: 2px solid white !important;
    z-index: auto;

}

.footer {
    color: whitesmoke !important;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    bottom: 0px !important;
    left: 40% !important;
    margin-left: -50% !important;
    width: 100% !important;
    border-radius: 10px;
    background: transparent !important;
    color: #fff;
    padding: 0px !important;
    font-size: 50px !important;
    text-align: center;
    opacity: 1 !important;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive !important;
    -webkit-transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -ms-transition: opacity .35s ease-in-out;
    -o-transition: opacity .35s ease-in-out;
    transition: opacity .5s ease-in-out !important;
}

@media (max-width: 750px) {
    .footer {
        font-size: 40px !important;
    }

    .btn {
        font-size: 40px;
        left: 15px;
    }
}

@media (max-width: 650px) {
    .footer {
        font-size: 35px !important;
    }

    .btn {
        font-size: 32px;
        left: 15px;
    }
}

@media (max-width: 550px) {
    .footer {
        font-size: 30px !important;
    }

    .btn {
        font-size: 28px;
        left: 15px;
    }
}

@media (max-width: 450px) {
    .footer {
        font-size: 25px !important;
    }

    .btn {
        font-size: 15px;
        left: 15px;
    }
}

@media (max-width: 350px) {
    .footer {
        font-size: 20px !important;
    }

    .btn {
        font-size: 10px;
        left: 15px;
    }
}