.exercise-name-card-container{
  border:1px solid #F4D160;
  height: 200px;
  margin:15px;
  width: 400px;
  transition: 0.3s;
  position: relative;
  z-index: 0;
  background-color: #F4D160;
  border-radius: 15px;
  justify-content: space-between;
  padding: 0px 30px;
  align-items: center;
  cursor: pointer;
  color: #1D5D9B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.exercise-name-card-container:hover{
  background-color: #75C2F6;
  transform: scale(1.01);
  border:5px solid #75C2F6;
  box-shadow: 5px 5px 5px 5px rgba(199, 199, 199, 0.712);
  .begin-exercise{
    visibility: visible;
  }
}

.exercise-name-card-container:active{
  transform: translateY(5px);
}
