.card-container{
  display: inline-block;
  border:1px solid black;
  height:400px;
  margin:15px;
  width: 18%;
  min-width: 200px;
  text-align: center;
  transition: 0.3s;
  position: relative;
  z-index: 0;
  background-color: #32b082;
  border-radius: 10px;

  img{
    height: 300px;
  }
  .body-image{
    position: absolute;
    margin-left:2px;
    margin-top: 4px;
    z-index: -1;
  }

  h3{
    text-decoration: underline;
    font-size: 30px;
  }
}

.card-container:hover{
  transform:scale(1.03);
}

.card-container:active{
  transform: translateY(2px);
}