.carousel .thumbs-wrapper {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

body {
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
    overflow-y: hidden;
}

.carousel .thumb {
    display: none !important;
    margin: 0 !important;
}

.carousel img {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    height: 95vh !important;
    width: 100% !important;
    background: fixed;
    opacity: 0.88 !important;
}

.carousel .carousel-status {
    display: none;
}

.legend {
    background-color: transparent !important;
    color: #fff !important;
}

.carousel .slide .legend {
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    position: absolute;
    bottom: 0px !important;
    left: 40% !important;
    margin-left: -50% !important;
    width: 100% !important;
    border-radius: 10px;
    background: #000;
    color: #fff;
    padding: 0px !important;
    font-size: 50px !important;
    text-align: center;
    opacity: 1 !important;
    font-weight: bold;
    font-family: 'Permanent Marker', cursive !important;
    -webkit-transition: opacity .35s ease-in-out;
    -moz-transition: opacity .35s ease-in-out;
    -ms-transition: opacity .35s ease-in-out;
    -o-transition: opacity .35s ease-in-out;
    transition: opacity .5s ease-in-out !important;
}

.carousel .control-dots {
    position: absolute;
    bottom: 49px !important;
    margin: 10px 0;
    padding: 0;
    text-align: center;
    width: 100%;
    z-index: 1
}

@media (min-width: 960px) {
    .carousel .control-dots {
        bottom: 49px !important;
    }
}


p {
    margin-bottom: 0px !important;
    padding: 0px !important;
}

.carousel .slide .legend:hover {
    opacity: 1 !important;

}

.carousel:hover .slide .legend {
    opacity: 1 !important;

}

.btn {
    position: relative;
    left: 10%;
    background-color: rgb(128, 31, 7);
    font-size: 45px;
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    border-radius: 35px;

}

.btn:hover {
    color: white;
    background-color: red;
}

@media (max-width: 650px) {
    .carousel .slide .legend {
        font-size: 50px !important;
    }

    .btn {
        font-size: 40px;
        left: 15px;
    }
}

.title{
    display: flex;
    background-color: black;
    width: 100%;
    position: absolute;
    top:70px;
    height: 95vh;
    img{
        width:450px;
    }

    .get-started-button{
        position: absolute;
        top: 100px;
        margin-left: 8%;
        padding: 15px 40px;
        font-size: 20px;
        border-radius: 10px;
        transition: 0.5s;
        background-color: #000;
        color: white;
        border: 0px;
    }
    .get-started-button:hover{
        transform: scale(1.1);
    }
}