$primary-color: #2B96DC;
$secondary-color: #333333;
$text-color: #858585;
$m-gray:#555555;
$black-color:#000000;
$white-color:#ffffff;
$green-color:#00C389;
$stripe-color:#F8F9FA;
$border-color:#EDEDED;
