.navbar-default {
  background-color: transparent !important;
  border-color: transparent;
  top: 10px;
  background-image: none !important;

}

.navbar-signup,
Link {
  background-color: rgba(7, 14, 14, 0.8);
  border-color: rgba(7, 14, 14, 0.7);
  padding: 1px 1px -5px 1px;
  font-size: 2px;



}

.link {
  margin-left: 2rem;
  top: 1px;
  color: #fff;
  text-transform: uppercase;
  float: right;
  font-size: 15px;
}

.navbar-brand {
  margin-top: 5px;
  color: #fff;
  font-weight: 900;
  font-size: 33px;
  font-family: 'Permanent Marker', cursive;
}

.navbar-brand:hover {
  color: red;
}

.navbar-default .navbar-nav>li>a {
  margin-left: 5rem;
  top: 7px;
  color: #fff;
  text-transform: uppercase;
  float: right;

}

.navbar-default .navbar-brand {
  color: #fff;
  font-weight: 900;
  font-size: 33px;
  font-family: 'Permanent Marker', cursive;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
  background-color: rgba(173, 150, 118, 0.2);
  color: #fff;



  transition: 0.2s;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {

  background-color: rgba(173, 150, 118, 0.2);
  color: #fff;

  transition: 0.2s;

}


@media only screen and (max-width: 991px) {
  .carousel-caption {
    padding-bottom: 340px;
  }

  .carousel-caption h2 {
    font-size: 40px;
    letter-spacing: 0;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-default .navbar-collapse {
    border-color: transparent;
    background: transparent;
    color: white;
  }

  .navbar-default .navbar-nav>li>a {
    color: #fff;

  }

}