.card-container-muscle{
  display: inline-block;
  border:1px solid #1D5D9B;
  margin:15px;
  width: 18%;
  height: 300px;
  min-width: 350px;
  text-align: center;
  transition: 0.3s;
  position: relative;
  background-color: #1D5D9B;
  border-radius: 10px;
  color:#FBEEAC;
  cursor: pointer;
  box-shadow: 10px 10px 10px rgb(182, 182, 182);
  h3{
    font-size: 30px;
  }

  img{
    height: 80%;
    width: 100%;
  }
}

.card-container-muscle:hover{
  transform:scale(1.03);
  background-color: #75C2F6;
  color:#1D5D9B;
}

.card-container-muscle:active{
  transform: translateY(2px);
}