.card-container-muscle{
  display: inline-block;
  border:1px solid black;
  margin:15px;
  width: 18%;
  height: 100px;
  min-width: 200px;
  text-align: center;
  transition: 0.3s;
  position: relative;
  background-color: #009cb8;
  border-radius: 10px;
  color:white;
  h3{
    font-size: 30px;
  }
}

.card-container-muscle:hover{
  transform:scale(1.03);
  background-color: #00bfe0;
  color:black;
}

.card-container-muscle:active{
  transform: translateY(2px);
}