.sidebar{
  width: 25%;
  background-color: #111111;
  height: 100%;
  float: left;
  color: #EDEDED;
  padding:0;

  a{
    text-decoration: none;
    color: white;
  }

  .profile-picture{
    //background-color: pink;
    text-align: center;
    margin:20px 20px 0px 20px;
    height: 230px;
    img{
      border-radius: 50%;
      background-color: bisque;
      height: 150px;
      width: 70%;
      max-width: 150px;
    }
    h1{
      text-decoration: underline;
      word-break: break-word;
      width: 100%;
    }
  }

  .list-options{
      li {
        list-style-type: none;
        font-size: 20px;
        //background-color: red;
        width: 100%;
        margin:10px 0px;
        padding: 10px 10px 10px 30px;
        text-align: left;
        transition: 0.2s;
        word-break: break-word;
      }

    li:hover{
      background-color: #009cb8;
      border:1px solid white;
    }
  }
}