.exercise-list-div{
    padding: 30px;
    background-color: #FBEEAC;
    min-height: 100vh;

    h1{
        padding-left: 20px;
        color: #1D5D9B;
    }

    .exercise-card-span{
        display: flex;
        flex-wrap: wrap;
    }
}