.carousel .thumbs-wrapper {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;


}

body {
    overflow-y: hidden;
    /* Hide vertical scrollbar */
    overflow-x: hidden;
    /* Hide horizontal scrollbar */
}

.carousel .thumb {
    display: none !important;
    margin: 0 !important;
}

.carousel img {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    height: 100vh !important;
    width: 100% !important;
    background: fixed;
}
.carousel .carousel-status {
    display: none;
}