body{
  margin:0;
  font-family: 'Faustina', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: overlay;
}

code{
  font-family: source-code-pro,Menlo,Monaco,Consolas,'Courier New',monospace;
}


a{
  text-decoration: none;
  color: white;
}

a:hover{
  text-decoration: none;
  color: white;
}


*{
  box-sizing: border-box;
}


//css for scroller
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #111111;
  border-radius: 10px;
}
