.exercise-description-div{
    text-align: center;
    margin: 10px;
    padding: 20px;
    display: flex;
    min-height: 100vh;

    .div-left{
       img{
        height: 60vh;
        width: auto;
        border-radius: 5px;
        border:1px solid #75C2F6;
        }
    }

    .description-div{
        width: 100%;
        min-width: 400px;
        margin-top: 40px;
        margin-left: 300px;
        text-align: left;
        color: #000;
        h1{
          text-align: center;
          margin-bottom: 10px;
        }
        h2{
          margin-top: 60px;
          font-size: 40px;
        }

        p{
          font-size: 20px;
        }
    }

    .button-div{
        text-align: left;
        margin-top: 40px;
        .begin-exercise{
          color:rgb(255, 255, 255);
          font-size: 1.8rem;
          margin : 10px 20px 10px 0px;
          padding: 5px;
          border:1px solid rgb(0, 0, 48);
          border-radius: 5px;
          background-color: #00999e;
          width: 200px;
          box-shadow: 2px 2px 2px gray;
          transition: 0.3s;
        }
    
        .begin-exercise:hover{
          transform: scale(1.05);
        }

        p{
          font-size: 14px;
          color:red;
        }
      }
}